* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    animation-name: back-div;
    animation-duration: 1s;
    animation-iteration-count: infinite; 
}

.heart {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #FF3300;
    width: 50px;
    height: 50px;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.heart::after {
    background: #FF3300;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 25px;
}

.heart::before {
    background: #FF3300;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 0;
}

@keyframes back-div {
    50% {
        background: #FFe6f2;
    }
}

@keyframes beat {
    0 {
        transform: scale(1) rotate(-45deg);
    }
    50% {
        transform: scale(0.6) rotate(-45deg);
    }
}